.HeadLineText {
  font-size: 70px;
  color: #fff;
  line-height: 5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: var(--font-family);
}

/* Text Sound */
.TextSound {
  flex: 1;
  justify-content: center;
  align-self: center;
  color: #fff;
  padding: 64px;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 6rem;
  text-align: center;
}

/* Central Text */
.centralText {
  font-size: 30px;
  color: grey;
}

/* Music Catalog */
.MusicCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  gap: 50px;
  margin-bottom: 80px;
}

.MusicCatalog a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  flex-shrink: 0;
  max-width: 200px;
}

.MusicCatalog img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
  transition: filter 0.3s ease-in-out;
  flex-shrink: 0;
}

.MusicCatalog img:hover {
  cursor: pointer;
  filter: brightness(135%);
}

/* Music Genres */
.MusicGenre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  flex-shrink: 0;
  max-width: 200px;
  transition: filter 0.3s ease-in-out;
}

.MusicGenre img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
  transition: filter 0.3s ease-in-out;
  flex-shrink: 0;
}

.MusicGenre:hover {
  cursor: pointer;
  filter: brightness(135%);
}

.MusicGenre.Lofi {
  background-color: rgba(139, 41, 99, 0.7);
}

.MusicGenre.Electronic {
  background-color: rgba(117, 65, 22, 0.7);
}

.MusicGenre.Pop {
  background-color: rgba(130, 232, 137, 0.7);
}

.MusicGenre.Indie {
  background-color: rgba(54, 96, 115, 0.7);
}

.MusicGenre.Trap {
  background-color: rgba(58, 61, 63, 0.7);
}

.MusicGenre.Rap {
  background-color: rgba(183, 4, 4, 0.7);
}

.MusicGenre1:hover {
  transition: filter 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .MusicCatalog {
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
  }

  .MusicCatalog a {
    flex-basis: calc(50% - 20px); 
    margin-bottom: 20px; 
  }
}

@media (max-width: 480px) {
  .MusicCatalog a {
    flex-basis: calc(100% - 20px); 
  }
}