.Main-Header{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: #fff;
    padding: 64px;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 6rem;
    text-align: center;
    margin-top: 40px;
}
.Main-Header p {
    font-size: 33px;
    color: #fff;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.ReadMore {
  background-color: rgb(54, 52, 52);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.15s, color 0.15s;
  padding: 9px 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StartFreeTrial-button{
  background-color:blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.15s, color 0.15s;
  padding: 9px 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .main-text{
    margin-bottom: 300px;
  }
  p.Currently{
    font-size: 70px;
    color: #fff;
    line-height: 5rem;
    margin-top: 40px;
    margin-bottom: 40px;

  }
  .Panorama{
    font-weight: bold;
    font-size: 50px;
    color: rgb(97, 0, 253);
  }

  @media (max-width: 768px) {
    .Main-Header {
      padding: 40px;
      font-size: 36px;
      line-height: 4rem;
    }
  
    .Main-Header p {
      font-size: 24px;
      line-height: 1.8rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .button-container {
      flex-direction: column;
    }
  
    .ReadMore {
      margin-left: 0;
      margin-top: 20px;
    }
  
    .main-text {
      margin-bottom: 150px;
    }
  
    p.Currently {
      font-size: 50px;
      line-height: 4rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .Panorama {
      font-size: 36px;
    }
  }
 

